header {
	background-color: black;
	width: 100%;
	z-index: 1000;
	position: fixed;
}

body {
	margin: 0;
	font-family: 'Karla';
	font-size: 16px;
	line-height: 1.75;
	color: #2d2d2d;
}

.allcontainer {
	padding: 0 2%;
	align-content: center;

}

@media (min-width: 1140px) {

.allcontainer {
	align-content: center;
	max-width: 1140px;
	padding: 0 13.3%;
}

}

.logonav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 600px) {

.logonav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

}

.navbar li {
	display: inline-block;
	text-transform: uppercase;
	color: white;
}

.navbar li:first-child {
	padding-left: 0;
}

.navbar li:nth-child(2) {
	padding: 0 2rem;
}

.navbar li:last-child {
	padding-right: 0;
}

.navbar a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.125rem;
}

.logo {
	max-width: 250px;
}

section {
	background-image: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ), url(final-project-assets/kayak-bkgd.jpg);
	text-align: center;
	margin: 0px;
	background-size: cover;
	display: flex;
	flex-direction: column;
	line-height: 1.25;
}

section {
	background-image: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ), url(final-project-assets/kayak-bkgd.jpg);
	text-align: center;
	margin: 0px;
	background-size: cover;
	display: flex;
	flex-direction: column;
	line-height: 1.25;
}

.firstparagraph {
	display: flex;
	flex-direction: column;
	font-size: 3.25rem;
	padding-top: 60px;
	margin-bottom: 2rem;
	color: white;
	font-family: 'pacifico';
	text-shadow: 2px 1px 2px rgba(150, 150, 150, 1);
}	

@media (min-width: 600px) {

.firstparagraph {
	display: flex;
	flex-direction: column;
	font-size: 5rem;
	padding-top: 60px;
	margin-bottom: 2rem;
	color: white;
	font-family: 'pacifico';
	text-shadow: 2px 1px 2px rgba(150, 150, 150, 1);
}

}

.catchphrase1 {
	font-size: 30%;
	font-family: 'karla';
	margin: 1rem 0;
	text-transform: uppercase;
}


.catchphrase3 {
	font-size: 40%;
	margin: 1rem 0;
}

.secondparagraph {
	background-color: rgba(0, 0, 0, 0.5);
	padding: .5rem;
	display: inline-block;
	margin: 0 auto;
	color: white;
	font-family: 'karla';
}	

@media (min-width: 600px) {

.secondparagraph {
	font-size: 1.25rem;
	background-color: rgba(0, 0, 0, 0.5);
	max-width: 589px;
	padding: .5rem;
	display: inline-block;
	margin: 0 auto;
	color: white;
	font-family: 'karla';
}

}

.rentals-button {
	font-size: 1.25rem;
	background-color: #e2574c;
	border-radius: 50px;
	font-family: 'karla';
	font-style: bold;
	color: white;
	text-decoration: none;
	padding: 1rem;
	margin: 1rem 0;
	display: inline-block;
	transition-property: background;
	transition-duration: 0.01s;
	transition-timing-function: ease;
	line-height: 1;
}

.rentals-button:hover {
	background: #b64036;
}

h2 {
	font-family: 'pacifico';
	margin-top: 4rem;
	margin-bottom: 3rem;
	font-size: 3rem;
	text-align: center;
	color: #646464;
	line-height: 1;
}

.aboutdescription {
	text-align: center;
	max-width: 700px;
	max-height: 84px;
	font-family: 'karla';
	margin: 0 auto;
	margin-bottom: 3rem;
}



.picturecontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
}	

@media (min-width: 600px) {

.picturecontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

}

.pictures {
	flex: 0 1 32%;
	margin-bottom: 1rem;
}	

@media (min-width: 600px) {

.pictures {
	flex: 0 1 32%;
	max-width: 32%;
	margin-bottom: 1rem;
}

}

img {
	height: auto;
	max-width: 100%;
	box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.6);
}

.policytable {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'karla';
	margin-bottom: 4rem;
	justify-content: space-between;
}

@media (min-width: 600px) {

.policytable {
	display: flex;
	flex-direction: row;
	font-family: 'karla';
	margin-bottom: 4rem;
	justify-content: space-between;
}

}

a {
	color: #e2574c;
	cursor: pointer;
}

.policies {
	margin-bottom: 1.5rem;
}	

@media (min-width: 600px) {

.policies {
	margin-bottom: 1.5rem;
	max-width: 50%;
}

}

.table {
	padding-left: 3rem;
	width: 100%;
	border-collapse: collapse;
	border-width: 1px;
	font-weight: bold;
	border-color: #c8c8c8;
}

@media (min-width: 600px) {

.table {
	padding-left: 3rem;
	max-width: 50%;
	width: 100%;
	border-collapse: collapse;
	border-width: 1px;
	font-weight: bold;
	border-color: #c8c8c8;
}

}

.tablerow {
	transition-property: background;
	transition-duration: 0.01s;
	transition-timing-function: ease;
}

.tablerow:hover {
	background: #fbf6d9;
}

thead {
	background-color: #e6e6e6;
}

td {
	border: 1px solid #c8c8c8;
	padding: .5rem;
}

th {
	border: 1px solid #c8c8c8;
	padding: .5rem;
}

.locationmap p {
	text-align: center;
	font-family: 'karla'
}

footer {
	background-color: #242424;
	color: white;
	padding: 4rem 0;
}

.contactmedia {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: white;
	align-items: center;
	text-align: center;
}

@media (min-width: 600px) {

.contactmedia {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
	text-align: left;
}

}

iframe {
	width: 100%;
}

.contact a {
	color: white;
}

.copyright {
	line-height: .75;
}

.address {
	color: #969696;
	line-height: .75;
}

.media {
	display: flex;
	flex-direction: row;
}	

.media-type {
	display: none;
}

.media a {
	color: white;
	text-decoration: none;
	padding-right: 0;
}	

@media (min-width: 600px) {

.media {
	display: flex;
	flex-direction: column;
	padding-right: 1rem;
}

.media-type {
	color: white;
	display: inline;
}

.media a {
	color: white;
	text-decoration: none;	
}

}

@media (min-width: 1140px) {

.media {
	padding-right: 3rem;
}

	
}

.media li {
	list-style: none;
	color: white;
	padding: 0 .5rem;
}